
 /* .MediocreMelodies{
display: flex;
flex-direction: column;
justify-content: center;

}  */

.LEFTE{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.Jack-o-Lolbit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

body{
color: aliceblue;
background-image: url("Save ME/eea992a1f60e6e03ab9f40adf515fcef.png");
}