
 /* .MediocreMelodies{
display: flex;
flex-direction: column;
justify-content: center;

}  */

.LEFTE{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.Jack-o-Lolbit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

body{
color: rgb(rgb(255, 60, 0));
background-image: url("image.png")
}
.Poshria img{
    width: 78px;
    height: 78px;
 }


@media screen and (max-width: 600px) {
.MediocreMelodies img{
    width: 76px;
    height: 76px;
}    
}